body {
  margin: 0;
  padding: 0;
}

.containerDolls {
  background-color: rgb(201, 201, 201);

  border-radius: 15px;
  height: 500px;
  margin-top: 20px;
}
.blockDolls {
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 1200px;
  gap: 25px;
}

.titre {
  background-color: azure;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.titre h1{
      
    
    margin: 0; 
    font-weight: 500;
    font-size: 25px;


}

.containerDolls {
  padding-top: 60px;
  background-color: antiquewhite;
  max-width: 1780px;
  margin: 0 auto;
}

.listeDolls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background-color: aquamarine;
  padding: 20px;
}

.purchaseDolls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  background-color: rgb(51, 102, 147);
 gap: 40px;
  width: 150px;
  border-radius: 8px;
  height: 250px;
}

.purchaseDolls button{
    background-color: blue;
    margin-top: 40px;
}